@model MVCForum.Domain.Probabilities

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FTHomeWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FTDraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FTAwayWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTHomeWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTDraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTAwayWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverTwoAndHalf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOneAndHalf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverThreeAndHalf)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.FTHomeWin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.FTDraw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.FTAwayWin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.HTHomeWin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.HTDraw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.HTAwayWin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OverTwoAndHalf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OverOneAndHalf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OverThreeAndHalf)
        </td>
    </tr>

</table>
